/* ****************** NÃO APAGAR ****************** */
@font-face {
    font-family: cyberpunk;
    src: url(../fonts/CyberwayRiders-lg97d.ttf);
}

@font-face {
    font-family: rajdhani;
    src: url(../fonts/Rajdhani-Light.ttf);
}

/* ****************** NÃO APAGAR ****************** */