/* ****************** NÃO APAGAR ****************** */
@font-face {
    font-family: cyberpunk;
    src: url(../fonts/CyberwayRiders-lg97d.ttf);
}

@font-face {
    font-family: rajdhani;
    src: url(../fonts/Rajdhani-Light.ttf);
}

/* ****************** NÃO APAGAR ****************** */

:root {
    --color-yellow: #F9F002;
    --color-blue: #4ABED5;
    --color-dark: #111111;
    --color-white: #FFFFFF;

    --spacing-md: 20px;
    --spacing-lg: 50px;
    --spacing-xl: 180px;

    --font-size-title: 150px;
    --font-size-subtitle: 50px;
    --font-size-text: 25px;

    --font-weight-lg: 700;
    --font-weight-xl: 900;

    --letter-spacing-md: 4px;

    --border-width-lg: 5px;

    --transition-fast: 0.5s;

    --scale-hover: 1.1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark);
    font-family: rajdhani;
}


h1 {
    font-family: cyberpunk;
    color: var(--color-yellow);
    font-size: var(--font-size-title);
    text-align: center;
    margin-top: var(--spacing-md);
    letter-spacing: var(--letter-spacing-md);
}

h2 {
    text-align: center;
    margin-bottom: var(--spacing-md);
    color: var(--color-blue);
    font-size: var(--font-size-subtitle);
}

p {
    color: var(--color-yellow);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-lg);
    margin: var(--spacing-md);
    text-align: center;
}

.banner {
    text-align: center;
    margin: var(--spacing-md);

    img {
        border-width: var(--border-width-lg);
        border-style: solid;
        border-color: var(--color-white);
    }

}

.link {
    text-align: center;
    margin-block: var(--spacing-lg);

    a {
        background-color: var(--color-blue);
        color: var(--color-white);
        font-size: var(--font-size-text);
        padding-block: var(--spacing-md);
        padding-inline: var(--spacing-xl);
        text-decoration: none;
        font-weight: var(--font-weight-xl);
        border-width: var(--border-width-lg);
        border-style: solid;
        border-color: var(--color-white);
        transition: var(--transition-fast);

        &:hover {
            background-color: var(--color-yellow);
            color: var(--color-dark);
        }
    }

}

.imagens {
    text-align: center;
    margin: var(--spacing-md);
    
    img {
        margin: var(--spacing-md);
        border-width: var(--border-width-lg);
        border-style: solid;
        border-color: var(--color-yellow);
        filter: grayscale(1);
        transition: var(--transition-fast);

        &:hover {
            scale: var(--scale-hover);
            filter: grayscale(0);
        }
    }

}
